<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <title>Registrador</title>
        <script src="/static/js/main.js" defer></script>
    </head>
    <body>
        <main>
            <div class="formulario-cadastro">
                <form>
                    <label for="nome-user">Nome:</label>
                    <input type="text" name="nome" id="nome-user" placeholder="Exemplo: Maria">
                    <br><br>
                    <label for="estados">Estado</label>
                    <select name="estados" id="estados">
                        <option value="" disabled selected>Selecione um estado</option>
                        <option value="acre">AC</option>
                        <option value="alagoas">AL</option>
                        <option value="amapa">AP</option>
                        <option value="amazonas">AM</option>
                        <option value="bahia">BA</option>
                        <option value="ceara">CE</option>
                        <option value="distrito-federal">DF</option>
                        <option value="espirito-santo">ES</option>
                        <option value="goias">GO</option>
                        <option value="maranhao">MA</option>
                        <option value="mato-grosso">MT</option>
                        <option value="mato-sul">MS</option>
                        <option value="minas-gerais">MG</option>
                        <option value="para">PA</option>
                        <option value="paraiba">PB</option>
                        <option value="parana">PR</option>
                        <option value="pernambuco">PE</option>
                        <option value="piaui">PI</option>
                        <option value="rio-janeiro">RJ</option>
                        <option value="rio-norte">RN</option>
                        <option value="rio-sul">RS</option>
                        <option value="rondonia">RO</option>
                        <option value="roraima">RR</option>
                        <option value="santa-catarina">SC</option>
                        <option value="sao-paulo">SP</option>
                        <option value="sergipe">SE</option>
                        <option value="tocantins">TO</option>
                    </select>
                    <br><br>
                    <label for="cidades">Cidade</label>
                    <select name="cidades" id="cidades">
                        <option value="">Selecione um estado</option>
                    </select>
                </form>
            </div>
            <div class="buscar-id">
                <form>

                </form>
            </div>
            <div class="tabela-registros">

            </div>
            <div class="exportar-csv">

            </div>
        </main>
    </body>
</html>